@page "/remotecounter"
@rendermode InteractiveWebAssembly
@using Microsoft.AspNetCore.SignalR.Client;
@inject NavigationManager Navigation
@implements IAsyncDisposable


<button class="btn btn-primary" @onclick="IncrementCounter">Increment counter</button>

@code {
    private HubConnection? counterConnection;

    protected override async Task OnInitializedAsync()
    {
        counterConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/counterhub"))
            .Build();

        await counterConnection.StartAsync();
    }

    public async Task IncrementCounter()
    {
        try
        {
            await counterConnection.InvokeAsync("AddToTotal", 1);
        }   catch (Exception ex)
        {
            Console.WriteLine("Exception: " + ex);
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (counterConnection is not null)
        {
            await counterConnection.DisposeAsync();
        }
    }
}
